<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
         href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
         rel="stylesheet" />

      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet" />

      <link rel="stylesheet" href="/static/css/styles.css" />

      <title>DeQuence</title>
   </head>

   <body>
      <header class="menu">
         <div class="container">
            <div class="menu_content">
               <div class="menu_logo">
                  <a href="index" class="menu_link"><img src="/static/img/logo.svg" alt="logo" /></a>
                  <div class="logo_text">DeQuence</div>
               </div>

               <ul class="menu_list">
                  <li class="list_item organize"><a href="#" class="list_link">Organize your to-do lists</a></li>
               </ul>

               <div class="menu_sales">
                  <div class="menu_contact">Contact us</div>
                  <a href="signup" class="menu_sign menu_btn">Sign Up</a>
                  <a href="login" class="menu_up menu_btn">Log in</a>
               </div>
            </div>
         </div>
      </header>
      <main>
         <section class="hero">
            <div class="container">
               <div class="hero_content">
                  <div class="hero_info">
                     <h1 class="hero_title">Organize your to-do lists from anywhere.</h1>
                     <div class="hero_desc">
                        Create clear, multi-functional to-do lists to easily manage your ideas and work from anywhere so
                        you never forget anything again.
                     </div>
                     <div class="hero_email">
                        <span class="hero_icon">
                           <img src="/static/img/hero_icon.svg" alt="Mail Icon" />
                        </span>
                        <input class="hero_input" type="email" placeholder="Enter your work email" />
                     </div>
                     <a class="hero_btn" href="signup">Get Started</a>
                  </div>
                  <div class="hero_img">
                     <img src="/static/img/podcast.jpg" alt="podcast" />
                  </div>
               </div>
            </div>
         </section>

         <!-- 1 -->
         <section class="manage">
            <div class="container">
               <div class="manage_body">
                  <div class="manage_info">
                     <div class="manage_sup">Global To-Do Lists</div>
                     <h2 class="manage_title">Manage your to-do's from anywhere.</h2>
                     <div class="manage_line"></div>
                     <div class="manage_text">
                        Create and access your to-do lists from anywhere: desktop, mobile phone, or browser tab. Now
                        you'll never miss an idea or forget what you need to do next.
                     </div>
                  </div>
                  <div class="manage_img">
                     <img src="/static/img/manage/01.png" alt="" />
                  </div>
               </div>
            </div>
         </section>

         <!-- 2 -->
         <section class="manage">
            <div class="container">
               <div class="manage_body manage_body-pink">
                  <div class="manage_img">
                     <img src="/static/img/manage/02.png" alt="" />
                  </div>

                  <div class="manage_info manage_info-left">
                     <div class="manage_sup manage_sup-pink">Customization</div>
                     <h2 class="manage_title">Create the perfect list for every need.</h2>
                     <div class="manage_line manage_line-pink"></div>
                     <div class="manage_text">
                        You can make DeQuence to-do lists show what you want, how you want. Add formatting, coloring,
                        and link items with assignees or tasks to transform lists into actionable workflows.
                     </div>
                  </div>
               </div>
            </div>
         </section>

         <!-- 3 -->
         <section class="manage">
            <div class="container">
               <div class="manage_body manage_body-blue">
                  <div class="manage_info">
                     <div class="manage_sup manage_sup-blue">Templates</div>
                     <h2 class="manage_title">Save time with checklist templates.</h2>
                     <div class="manage_line manage_line-blue"></div>
                     <div class="manage_text">
                        Save any list as a template to reuse and customize as many times as you want. You can even
                        create recurring tasks with saved checklists for error-free processes.
                     </div>
                  </div>
                  <div class="manage_img">
                     <img src="/static/img/manage/03.png" alt="" />
                  </div>
               </div>
            </div>
         </section>

         <!-- 4 -->
         <section class="manage">
            <div class="container">
               <div class="manage_body manage_body-green">
                  <div class="manage_img">
                     <img src="/static/img/manage/04.png" alt="" />
                  </div>

                  <div class="manage_info manage_info-left">
                     <div class="manage_sup manage_sup-green">Customization</div>
                     <h2 class="manage_title">Create the perfect list for every need.</h2>
                     <div class="manage_line manage_line-green"></div>
                     <div class="manage_text">
                        You can make DeQuence to-do lists show what you want, how you want. Add formatting, coloring,
                        and link items with assignees or tasks to transform lists into actionable workflows.
                     </div>
                  </div>
               </div>
            </div>
         </section>

         <section class="checklists">
            <div class="container">
               <div class="checklists_body">
                  <div class="checklists_content">
                     <h2 class="checklists_title">Add checklists to your...</h2>
                     <div class="checklists_items">
                        <div class="checklists_item checklists_item-bg">
                           <div class="checklists_img"><img src="/static/img/check/01.png" alt="" /></div>
                           <div class="checklists_label checklists_label-color">Tasks</div>
                        </div>
                        <div class="checklists_item">
                           <div class="checklists_img"><img src="/static/img/check/02.png" alt="" /></div>
                           <div class="checklists_label">Docs</div>
                        </div>
                        <div class="checklists_item">
                           <div class="checklists_img"><img src="/static/img/check/03.png" alt="" /></div>
                           <div class="checklists_label">Notes</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>

         <!-- 5 -->
         <section class="manage">
            <div class="container">
               <div class="manage_body manage_body-yellow">
                  <div class="manage_img">
                     <img src="/static/img/manage/05.png" alt="" />
                  </div>

                  <div class="manage_info manage_info-left">
                     <h2 class="manage_title">Create clear action items for tasks.</h2>
                     <div class="manage_line manage_line-yellow"></div>
                     <div class="manage_text">
                        Add checklists to any task in ClickUp to create clear processes for yourself or your team.
                     </div>
                  </div>
               </div>
            </div>
         </section>

         <section class="articles">
            <div class="container">
               <div class="articles_body">
                  <div class="articles_subtitle">from our blog</div>
                  <h2 class="articles_title">Related articles.</h2>
                  <div class="articles_lists">
                     <div class="articles_column">
                        <div class="articles_row">
                           <div class="articles_label">10 Free To-Do List Templates by DeQuence</div>
                           <div class="articles_time">
                              <img src="/static/img/clock.svg" alt="" />
                              <div class="articles_text">Max 10min read</div>
                           </div>
                           <a href="#" class="articles_link">
                              <div class="articles_read">Read more</div>
                              <svg
                                 width="16"
                                 height="11"
                                 viewBox="0 0 16 11"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M1.88499 4.39456H12.7926L10.6385 2.24048C10.2709 1.87292 10.2709 1.277 10.6385 0.909453C11.006 0.541901 11.602 0.541901 11.9695 0.909454L15.7271 4.66701C15.9112 4.8512 16.0031 5.09274 16.0027 5.33415C16.0031 5.57554 15.9112 5.81706 15.7271 6.00125L11.9623 9.76593C11.5948 10.1335 10.999 10.1335 10.6313 9.76593C10.2638 9.39837 10.2638 8.80246 10.6313 8.4349L12.7894 6.27691H1.88499C1.3652 6.27691 0.943817 5.85553 0.943817 5.33574C0.943817 4.81594 1.3652 4.39456 1.88499 4.39456Z"
                                    fill="#FBBC05" />
                              </svg>
                           </a>
                           <div class="articles_person">
                              <img src="/static/img/01.png" alt="" />
                              <div class="articles_name">Alex York</div>
                           </div>
                        </div>
                     </div>
                     <div class="articles_column">
                        <div class="articles_row articles_row-pink">
                           <div class="articles_label">How To Create an Action Items List (Action Items Template)</div>
                           <div class="articles_time">
                              <img src="/static/img/clock.svg" alt="" />
                              <div class="articles_text">Max 6min read</div>
                           </div>
                           <a href="#" class="articles_link">
                              <div class="articles_read">Read more</div>
                              <svg
                                 width="16"
                                 height="11"
                                 viewBox="0 0 16 11"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M1.88499 4.39456H12.7926L10.6385 2.24048C10.2709 1.87292 10.2709 1.277 10.6385 0.909453C11.006 0.541901 11.602 0.541901 11.9695 0.909454L15.7271 4.66701C15.9112 4.8512 16.0031 5.09274 16.0027 5.33415C16.0031 5.57554 15.9112 5.81706 15.7271 6.00125L11.9623 9.76593C11.5948 10.1335 10.999 10.1335 10.6313 9.76593C10.2638 9.39837 10.2638 8.80246 10.6313 8.4349L12.7894 6.27691H1.88499C1.3652 6.27691 0.943817 5.85553 0.943817 5.33574C0.943817 4.81594 1.3652 4.39456 1.88499 4.39456Z"
                                    fill="#ff9ec9" />
                              </svg>
                           </a>
                           <div class="articles_person">
                              <img src="/static/img/02.png" alt="" />
                              <div class="articles_name">Erica Chappell</div>
                           </div>
                        </div>
                     </div>
                     <div class="articles_column">
                        <div class="articles_row articles_row-blue">
                           <div class="articles_label">The 14 Best To-Do List Apps In 2024</div>
                           <div class="articles_time">
                              <img src="/static/img/clock.svg" alt="" />
                              <div class="articles_text">Max 18min read</div>
                           </div>
                           <a href="#" class="articles_link">
                              <div class="articles_read">Read more</div>
                              <svg
                                 width="16"
                                 height="11"
                                 viewBox="0 0 16 11"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M1.8849 4.39456H12.7925L10.6384 2.24048C10.2708 1.87292 10.2708 1.277 10.6384 0.909453C11.0059 0.541901 11.6019 0.541901 11.9694 0.909454L15.727 4.66701C15.9111 4.8512 16.003 5.09274 16.0026 5.33415C16.003 5.57554 15.9111 5.81706 15.727 6.00125L11.9623 9.76593C11.5947 10.1335 10.9989 10.1335 10.6312 9.76593C10.2637 9.39837 10.2637 8.80246 10.6312 8.4349L12.7893 6.27691H1.8849C1.36511 6.27691 0.943726 5.85553 0.943726 5.33574C0.943726 4.81594 1.36511 4.39456 1.8849 4.39456Z"
                                    fill="#49CCF9" />
                              </svg>
                           </a>
                           <div class="articles_person">
                              <img src="/static/img/03.png" alt="" />
                              <div class="articles_name">Greg Swan</div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>

         <section class="place">
            <div class="container">
               <div class="place_body">
                  <div class="place_content">
                     <h2 class="place_title">Put all your to-do's in one place to save time.</h2>
                     <div class="place_email">
                        <div class="hero_email">
                           <span class="hero_icon">
                              <img src="/static/img/hero_icon.svg" alt="Mail Icon" />
                           </span>
                           <input class="hero_input" type="email" placeholder="Enter your work email" />
                        </div>
                        <a class="hero_btn" href="signup">Get Started</a>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </main>
   </body>
</html>
