<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/static/css/styles.css" />
      <link
         href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
         rel="stylesheet" />
      <title>Document</title>
   </head>

   <body>
      <div class="main_wrapper">
         <header class="header_main">
            <a href="index" class="logo_wrapper">
               <div class="main_logo">
                  <div class="vector_logo">
                     <div class="rectangle-2"></div>
                     <img class="vector" src="/static/img/main_img/vector0.svg" alt="logo_main" />
                     <div class="vector_text">DQ</div>
                  </div>
                  <div class="logo_text">DeQuence</div>
               </div>
            </a>

            <div class="main_search">
               <div class="search_btn">
                  <img class="search_ico" src="/static/img/main_img/cu-3-icon-search0.svg" alt="" />
                  <input class="search_inp" type="text" placeholder="Search..." />
                  <div class="ai">
                     <img src="#" alt="" />
                     <div class="ai_txt">AI</div>
                  </div>
               </div>
            </div>

            <div class="main_person">
               <div class="person_new">
                  <img src="/static/img/main_img/cu-3-icon-add-circle0.svg" alt="" />
                  <div class="person_txt">New</div>
               </div>

               <img class="person_icon" src="/static/img/main_img/cu-3-icon-nine-dots0.svg" />

               <div class="person_name">
                  <div class="ava" id="ava">
                     <div class="ava_txt" id="ava_txt">U</div>
                     <img
                        class="ava_ico"
                        src="/static/img/main_img/cu-3-icon-user-online-white-background0.svg"
                        alt="" />
                  </div>
                  <img src="/static/img/main_img/cu-3-icon-chevron-down0.svg" alt="" />
               </div>
            </div>
         </header>

         <div class="body_content">
            <div class="block1">
               <div class="nav_content">
                  <div class="nav_header">
                     <div class="name_cont">
                        <div class="name_ico">U</div>
                        <div class="name_title">Username</div>
                        <img class="" src="/static/img/main_img/cu-3-icon-dropdown0.svg" />
                     </div>
                     <div class="nav_links">
                        <a href="index" class="nav_link">
                           <img class="" src="/static/img/main_img/cu-3-icon-sidebar-home0.svg" />
                           Home
                        </a>
                        <a href="docs" class="nav_link">
                           <img class="" src="/static/img/main_img/cu-3-icon-sidebar-doc0.svg" />
                           Docs
                        </a>
                     </div>
                  </div>

                  <div class="add_info">
                     <div class="info_body">
                        <div class="info_top">
                           <div class="favorites">Favorites</div>
                           <img class="" src="/static/img/main_img/cu-3-icon-dropdown1.svg" />
                        </div>

                        <div class="add_block">
                           <div class="add_title">Spaces</div>
                           <div class="icons">
                              <img class="icons_ico" src="/static/img/main_img/cu-3-icon-ellipsis-regular8.svg" />
                              <img class="icons_ico" src="/static/img/main_img/cu-3-icon-search2.svg" />
                              <button class="add_btn add_btn-style">+</button>
                           </div>
                        </div>

                        <div class="info_list">
                           <div class="every">
                              <img class="" src="/static/img/main_img/cu-3-icon-sidebar-everything0.svg" />
                              Everything
                           </div>
                           <div class="team">
                              <div class="team_wrapper">
                                 <div class="team_ico">
                                    <img class="" src="/static/img/main_img/fa-icon-img1.svg" />
                                 </div>
                                 <div class="team_txt">Team Space</div>
                              </div>
                              <div class="icons_right">
                                 <button>
                                    <img class="icon_r" src="/static/img/main_img/cu-3-icon-ellipsis-regular6.svg" />
                                 </button>
                                 <button class="add_btn">
                                    <img class="icon_r" src="/static/img/main_img/cu-3-icon-add-small3.svg" />
                                 </button>
                              </div>
                           </div>
                           <div class="team projects">
                              <div class="team_wrapper">
                                 <img class="" src="/static/img/main_img/cu-3-icon-sidebar-folder-open0.svg" />
                                 <div class="team_txt">Projects</div>
                              </div>
                              <div class="icons_right">
                                 <button>
                                    <img class="icon_r" src="/static/img/main_img/cu-3-icon-ellipsis-regular6.svg" />
                                 </button>
                                 <button>
                                    <img class="icon_r" src="/static/img/main_img/cu-3-icon-add-small3.svg" />
                                 </button>
                              </div>
                           </div>

                           <!-- SCRIPT -->
                           <div class="title_info"></div>

                           <div class="every">
                              <img class="" src="/static/img/main_img/cu-3-icon-sidebar-spaces0.svg" />
                              View all Spaces
                           </div>
                           <div class="every">
                              <button class="add_btn">
                                 <img class="every_ico" src="/static/img/main_img/cu-3-icon-sidebar-add0.svg" />
                              </button>
                              <div class="every_txt">Create Space</div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="nav_footer">
                     <button class="nav_footer_item">
                        <div class="footer_icon">
                           <img class="footer_i" src="/static/img/main_img/cu-3-icon-sidebar-invite0.svg" />
                        </div>
                        <div class="footer_txt">Invite</div>
                     </button>
                     <button class="nav_footer_item">
                        <div class="footer_icon">
                           <img class="footer_i" src="/static/img/main_img/cu-3-icon-sidebar-help0.svg" />
                        </div>
                        <div class="footer_txt">Help</div>
                     </button>
                  </div>
               </div>
            </div>

            <div class="block2">
               <div class="content_header">
                  <div class="header_left">
                     <button class="team_wrapper">
                        <div class="team_ico">
                           <img class="" src="/static/img/main_img/fa-icon-img0.svg" />
                        </div>
                        <div class="team_txt">Team Space</div>
                     </button>
                     <button class="team_wrapper">
                        <img class="" src="/static/img/main_img/cu-3-icon-folder0.svg" />
                        <div class="team_txt">Projects</div>
                     </button>
                     <button class="team_wrapper">
                        <img class="" src="/static/img/main_img/cu-3-icon-list-small0.svg" />
                        <div class="team_txt">Project 1</div>
                     </button>
                     <button class="dote">
                        <img class="" src="/static/img/main_img/cu-3-icon-ellipsis-regular0.svg" />
                     </button>
                  </div>
                  <div class="header_right">
                     <button class="list_elem">Ask AI</button>
                     <button class="list_elem">Share</button>
                     <button class="list_elem">Automations</button>
                  </div>
               </div>

               <div class="content_bottom">
                  <div class="cont_left">
                     <button class="board">Board</button>
                     <button class="board">List</button>
                     <button class="board">+View</button>
                  </div>
                  <div class="cont_right">
                     <div class="cont_item">
                        <img class="item_ico" src="/static/img/main_img/cu-3-icon-search1.svg" />
                        <div class="item_txt">Search</div>
                     </div>
                     <!-- <div class="cont_item">
                        <img class="item_ico" src="/static/img/main_img/cu-3-icon-customize0.svg">
                        <div class="item_txt">Hide</div>
                     </div> -->
                     <div class="cont_item">
                        <img class="item_ico" src="/static/img/main_img/cu-3-icon-settings0.svg" />
                        <div class="item_txt">Customize</div>
                     </div>
                     <button class="cont_add">
                        <div class="add_txt">Add Task</div>
                        <img class="add_ico" src="/static/img/main_img/cu-3-icon-chevron-down2.svg" />
                     </button>
                     <button class="button9">
                        <img class="" src="/static/img/main_img/cu-3-icon-chevron-up0.svg" />
                     </button>
                  </div>
               </div>
               <div class="cont_new">
                  <div class="header_right">
                     <!-- <button class="list_elem-new">
                        <img class="" src="/static/img/main_img/cu-3-icon-group0.svg">
                        Group: Status
                     </button>
                     <button class="list_elem-new">
                        <img class="" src="/static/img/main_img/cu-3-icon-subtask0.svg">

                        Subtasks: Collapse all
                     </button>
                     <button class="list_elem-new">
                        <img class="" src="/static/img/main_img/cu-3-icon-columns0.svg">

                        Columns
                     </button> -->
                  </div>
                  <div class="header_right">
                     <button class="list_elem-new">
                        <img class="" src="/static/img/main_img/cu-3-icon-filter0.svg" />
                        Filter
                     </button>
                     <button class="list_elem-new closed">
                        <img class="" src="/static/img/main_img/cu-3-icon-circle-check1.svg" />
                        Closed
                     </button>
                     <input class="elem_inp" type="text" placeholder="Search..." />
                  </div>
               </div>

               <div class="cont_info">
                  <button class="new_todo">TO DO</button>
                  <div class="count_task"></div>
               </div>

               <!-- SCRIPTS -->
               <div class="list_items"></div>

               <div class="selected_item" style="display: none"></div>
               <button class="back_btn" style="display: none">Back</button>

               <div class="add_content">
                  <textarea class="textarea_content" name="textarea" id="textarea-info"></textarea>
                  <button class="textarea_save">Add task</button>
               </div>
            </div>
         </div>
      </div>

      <div class="dropdown" id="dropdownMenu">
         <div class="dropdown-content">
            <div class="dropdown_ava">
               <img src="/static/img/dropdawn/nameava.png" alt="" />
               <div class="dropdown_name">
                  <div class="valeriy">Username</div>

                  <div>Online</div>
               </div>
            </div>
            <a href="#" class="dropdown_item_2">
               <img src="/static/img/dropdawn/05.svg" alt="" />
               <div>Set status</div>
            </a>
            <a href="profile" class="dropdown_item">
               <img src="/static/img/dropdawn/01.svg" alt="" />
               <div>Profile</div>
            </a>
            <a href="profile" class="dropdown_item">
               <img src="/static/img/dropdawn/02.svg" alt="" />
               <div>Settings</div>
            </a>
            <a href="#" class="dropdown_item">
               <img src="/static/img/dropdawn/03.svg" alt="" />
               <div>Help</div>
            </a>

            <a href="#" class="dropdown_item" id="logoutBtn">
               <img src="/static/img/dropdawn/04.svg" alt="" />
               <div>Log out</div>
            </a>
         </div>
      </div>
      <script>
         document.getElementById("logoutBtn").addEventListener("click", function (e) {
            e.preventDefault();
            window.location.href = "/logout";
         });
      </script>

      <script src="/static/js/script.js"></script>
   </body>
</html>
