<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/static/css/styles.css" />
      <link
         href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
         rel="stylesheet" />
      <title>Document</title>
   </head>

   <body>
      <div class="main_wrapper">
         <header class="header_main">
            <a href="index" class="logo_wrapper">
               <div class="main_logo">
                  <div class="vector_logo">
                     <div class="rectangle-2"></div>
                     <img class="vector" src="/static/img/main_img/vector0.svg" alt="logo_main" />
                     <div class="vector_text">DQ</div>
                  </div>
                  <div class="logo_text">DeQuence</div>
               </div>
            </a>

            <div class="main_search">
               <div class="search_btn">
                  <img class="search_ico" src="/static/img/main_img/cu-3-icon-search0.svg" alt="" />
                  <input class="search_inp" type="text" placeholder="Search..." />
                  <div class="ai">
                     <img src="#" alt="" />
                     <div class="ai_txt">AI</div>
                  </div>
               </div>
            </div>

            <div class="main_person">
               <div class="person_new">
                  <img src="/static/img/main_img/cu-3-icon-add-circle0.svg" alt="" />
                  <div class="person_txt">New</div>
               </div>

               <img class="person_icon" src="/static/img/main_img/cu-3-icon-nine-dots0.svg" />

               <div class="person_name">
                  <div class="ava">
                     <div class="ava_txt">V</div>
                     <img
                        class="ava_ico"
                        src="/static/img/main_img/cu-3-icon-user-online-white-background0.svg"
                        alt="" />
                  </div>
                  <img src="/static/img/main_img/cu-3-icon-chevron-down0.svg" alt="" />
               </div>
            </div>
         </header>

         <main class="profile">
            <h1 class="profile_title">My Settings</h1>
            <div class="profile_block_1">
               <div class="profile_descr">
                  <h2 class="profile_subtitle">Profile</h2>
                  <div class="profile_info">Your personal information and account security settings.</div>
               </div>

               <div class="profile_ava">
                  <div class="profile_label">Avatar</div>
                  <div class="profile_ico"><img src="/static/img/profile/ava.png" alt="" /></div>
                  <div class="profile_name">Valeriy Pak</div>

                  <div class="profile_full">Full Name</div>

                  <div class="profile_input">
                     <div class="profile_input-ico"><img src="/static/img/profile/01.svg" alt="" /></div>
                     <input class="profile_inp" type="text" placeholder="Enter New Name" />
                  </div>

                  <div class="profile_full">Email</div>

                  <div class="profile_input">
                     <div class="profile_input-ico"><img src="/static/img/profile/02.svg" alt="" /></div>
                     <input class="profile_inp" type="text" placeholder="Enter New Email" />
                  </div>

                  <div class="profile_full">Password</div>

                  <div class="profile_input">
                     <div class="profile_input-ico"><img src="/static/img/profile/03.svg" alt="" /></div>
                     <input class="profile_inp" type="text" placeholder="Enter New Password" />
                  </div>
               </div>
            </div>

            <div class="profile_block_5">
               <div class="profile_descr">
                  <h2 class="profile_subtitle">Delete account</h2>
                  <div class="profile_info">Delete your account here</div>
               </div>

               <div class="profile_del">
                  <div class="del_title">
                     Log out all sessions including any session on mobile, iPad, and other browsers
                  </div>
                  <button class="del_button">Delete account</button>
               </div>
            </div>

            <div class="profile_block_1 pr2">
               <div class="profile_descr">
                  <div class="profile_info"></div>
               </div>

               <div class="profile_ava">
                  <div class="sav_button">Save changes</div>
               </div>
            </div>
         </main>
      </div>

      <div class="dropdown" id="dropdownMenu">
         <div class="dropdown-content">
            <div class="dropdown_ava">
               <img src="/static/img/dropdawn/nameava.png" alt="" />
               <div class="dropdown_name">
                  <div class="valeriy">Valeriy Pak</div>

                  <div>Online</div>
               </div>
            </div>
            <a href="#" class="dropdown_item_2">
               <img src="/static/img/dropdawn/05.svg" alt="" />
               <div>Set status</div>
            </a>
            <a href="#" class="dropdown_item">
               <img src="/static/img/dropdawn/01.svg" alt="" />
               <div>Profile</div>
            </a>
            <a href="#" class="dropdown_item">
               <img src="/static/img/dropdawn/02.svg" alt="" />
               <div>Settings</div>
            </a>
            <a href="#" class="dropdown_item">
               <img src="/static/img/dropdawn/03.svg" alt="" />
               <div>Help</div>
            </a>

            <a href="#" class="dropdown_item">
               <img src="/static/img/dropdawn/04.svg" alt="" />
               <div>Log out</div>
            </a>
         </div>
      </div>

      <script src="/static/js/script.js"></script>
   </body>
</html>
